/* *********************************************** */




/* content */
.banner {
    margin-top: 900px;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;

}

.category {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ede4e4;
    width: 20%;
    height: 550px;
}

.category button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border-bottom: 3px solid transparent;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.category button:hover {
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid red;
}

#adidas {
    background-color: rgb(255, 255, 255);
}

#nike {
    background-color: rgb(255, 255, 255);
}

.tablink {
    color: rgb(0, 0, 0);
    font-weight: normal;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.tablink:hover {
    background-color: rgb(207, 198, 198);
    transform: scale(1.05);
    color: #444;
}



.listproduce {
    flex: 1;
    float: right;
    width: 80%;
    background-color: rgb(255, 255, 255);
    ;
    margin-left: 20px;
    margin-right: 20px;
}

.list-title>a {
    font-size: 16px;
    color: #474646;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}

.list-title {

    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;

}

.list-title a {
    text-decoration: none;
}

.collumn {
    width: 250px;
    float: left;
    width: 20%;
    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 10px;

}

.shoe:hover {
    border: 1px solid;
    transform: scale(1.07);

}

.thumnail:hover img {
    /* animation: xoayz linear 1s; */
}


.shoe .thumnail img {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#jordan .shoe .thumnail img {
    transform: rotateY(180deg);
}

.thumnail {
    position: relative;
    z-index: 100;
    padding: 0;
}

.infor-shoe {
    display: block;
}

.infor-shoe a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(4, 4, 4);
    display: block;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}

.infor-shoe>p {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #393a39;


}

.nike {
    display: none;
}
.slide-shoe{
    display: flex;
    flex-wrap: wrap;
}
/* ANIMATION */
.suggest-container {
    margin-top: 50px;
    max-width: 1400px;
    margin: 20px auto 0;
    

}

.title-slide {
    height: 40px;
    position: relative;
    text-align: center;
}

.title-slide a {
    color: #444;
    text-decoration: none;
    font-size: 26px;
    font-family: 'ExtraBold 800', sans-serif;

}

.hr-title {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.hr-title::after,
.hr-title::before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #0d0d0d;
    margin: 10px;
}

.hr-title span {
    padding: 0 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.bestseller {
    margin-top: 100px;
}

.bsl .hr-title {
    margin-top: 50px;
    padding-top: 50px;
}

.bsl {
    margin-bottom: 500px;
    display: block;
    max-width: 1400px;
    margin: 0 auto;
}

.bsl .collumn {
    padding-top: 90px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* FOOTER */
.footer {
    padding: 40px 0 20px 0;
}

.footer-category_header {
    font-size: 2rem;
    padding: 20px 20px 10px 20px;
    user-select: none;
}

.footer-category {}

.footer-categor_list {}

.footer-category_item {
    list-style: none;
    font-size: 1.4rem;
    height: 36px;

}

.footer-category_link {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 25px;
}

.footer-brands img {
    width: 50%;
}

.footer-copywrite {
    font-size: 1.6rem;
}

.footer-copywrite span {
    display: block;
}

.footer-infos i {
    margin-right: 5px;
}

.footer-copywrite_name,
.footer-copywrite_email,
.footer-copywrite_phone {
    line-height: 2rem;
    padding: 5px 0;
}

.footer-social {
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-social_item {
    color: black;
    display: block;
    margin: 12px 0;

}

.footer-social_item+.footer-social_item {
    margin-left: 30px;
}

.footer-social_item:hover,
.footer-category_item:hover {
    opacity: 0.6;
    cursor: pointer;
}

.footer-social_item i {
    font-size: 3rem;
}

.clear {
    clear: both;
}

@keyframes xoayz {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}



/* back to top */

.go-to-top {
    display: none;
    position: fixed;
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
}

.go-to-top p {
    text-align: center;
    line-height: 7rem;
    font-size: 4rem;
}

.go-to-top:hover {
    cursor: pointer;
    opacity: 0.8;
}

.go-to-top:hover p {
    font-size: 5rem;
}

.go-to-top p i {
    margin: auto;
}